.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin-bottom: 1rem;
}

.tz-icon {
  justify-self: center;
  align-self: center;
  width: 7rem;
  height: 7rem;
  display: grid;
  justify-content: center;
  align-content: center;

  font-size: 4rem;

  background-color: var(--primary);
  color: white;
}

.title {
  padding-inline: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  line-height: 1;
  font-size: clamp(1rem, calc(8vw - 2rem), 2.5rem);
}

.contact {
  align-self: end;
}

.contact-list {
  list-style-type: none;
  padding-left: 0;

  li {
    margin-top: 4px;
    min-width: 18px;

    display: flex;
    align-items: center;
    gap: 15px;
  }

  .icon {
    min-width: 18px;
  }
}

.address {
  white-space: pre-wrap;
}
