.grid-wrapper {

  @media (min-width: 40rem) {
    display: grid;

    grid-template-columns: 16rem 1fr;

    grid-template-areas: 
      'objective objective'
      'skills experience'
      'education education'
      'licenses licenses'
    }
}

.objective {
  grid-area: objective;
}

.skills {
  grid-area: skills;
}

.experience {
  grid-area: experience;
}

.education {
  grid-area: education;
}

.licenses {
  grid-area: licenses;
}
